<?xml version="1.0" ?>

<robot name="scene" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Setup -->
    <material name="environment_grey">
        <color rgba="0.7 0.7 0.7 1"/>
    </material>
    <material name="environment_black">
        <color rgba="0.3 0.3 0.3 1"/>
    </material>
    <material name="testing_red">
        <color rgba="1.0 0.0 0.0 1"/>
    </material>
    <material name="blastwall_yellow">
        <color rgba="1.0 1.0 0.0 1"/>
    </material>
    <material name="steel_grey">
        <color rgba="0.6 0.63 0.63 1"/>
    </material>

    <!-- Global Origin -->
    <link name="world"/>

    <!-- Intubation Robot -->
    <xacro:include filename="$(find rceti_support)/urdf/rceti_frame_macro.xacro"/>
    <joint name="fix_origin_rceti" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:include filename="$(find rceti_continuum)/urdf/continuum_macro.xacro"/>
    <joint name="pitch_servo_to_base" type="fixed">
        <parent link="pitch_servo_bottom_link"/>
        <child link="continuum_base_link"/>
        <origin xyz="0 -0.042 0.07" rpy="${pi/2} 0 0"/>
    </joint>

    
</robot>